/* Overall CSS constants for color palette */

:root{
    --background: #f2f2f2;
    --text-primary: white;
    --accent: #6a91cf ;
    --accent-secondary: rgb(234, 162, 33);
    --accent-tertiary: #ed3196;
}

 * {
    background: var(--background);
    font-family: 'Times New Roman', Times, serif;
}

/* This section is for "Top Section"*/

.MeAtDisney {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: -50%;
}