/* Overall CSS constants for color palette */

:root{
    --background: #f2f2f2;
    --text-primary: white;
    --accent: #6a91cf ;
    --accent-secondary: rgb(234, 162, 33);
    --accent-tertiary: #ed3196;
    --border-white: #e5e5e5;
    --box-shadow-white: 0px 0px 10px rgba(0,0,0,0.1);
}

 * {
    font-family: 'Times New Roman', Times, serif;
}




/* This section is for "Top Section"*/
.AboutMe {
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid var(--border-white);
    box-shadow: var(--box-shadow-white);
    margin-bottom: -30px;
    margin-left: 15px ;
}

.AboutMe h1{
    font-size: 30px;
    margin-top: 10px;
}

.AboutMe p{
    font-size: 18px;
    padding-top: 10px;
}

.social-container {
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transformation 250ms;
    display: inline-block;
}

a.social:hover {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }

a.github {
    color: black;
}

a.linkedin {
    color: rgb(10,102,194);
}

.MeAtDisney {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: 25%;
    padding-top: 10px;
}

.WhoAmI {
    background-color: var(--accent-tertiary);
    border-radius: 20px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid var(--accent-secondary);
    box-shadow: 0px 0px 10px var(--accent-secondary);
    color: white;
    width: 55%;
}

.WhoAmI h2{
    font-size: 25px;
}

.WhoAmI p {
    font-size: 18px;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

@keyframes wave-animation {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

/* This Will be for the Skills Page*/

.SkillsCardsContainer{
    display: flex;
    justify-content: center;
}

.SkillsCards{
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    display:inline-block;
    vertical-align: top;
    flex-wrap:wrap;
    text-align: center;
    height: 200px;
    width: 32%;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    border: 1px solid var(--border-white);
    box-shadow: var(--box-shadow-white);
}


@media screen and (max-width: 767px) {
    .SkillsCards {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .SkillsCardsContainer{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
}


.SkillsCards h2{
    font-size: 25px;        
}

.SkillsCards p{
    font-size: 18px;
}


/* This will be for the Work Experience Page*/

.Work {
    text-align: center;

}

.Work h2 {
    font-size: 30px;
}

.Work img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--border-white);
    box-shadow: var(--box-shadow-white);
    margin-bottom: -25px;
}